header h1{
    text-align: center;
}

.discord{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 960px;
    width: 100%;


    img{
        border-radius: 95%;
        width:30%;
    }
}